.title {
	font-size: large;
	font-weight: bolder;
	font-style: italic;
}

.subtitle {
	font-size: medium;
	font-weight: bold;
}

.header-image {
	background-size: cover;
}

.container-row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.container-col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
}
